.container {
  height: 550px;
  width: 100vw;
  margin-top: 4rem;
}

.mainContainer {
  display: flex;
  width: 95%;
  height: 100%;
  gap: 1%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.headContainer {
  text-align: center;
}

.heading {
  font-size: 4rem;
  font-weight: bold;
}

.cardContainer {
  width: 75%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

.card {
  margin-top: 1rem;
  width: 49%;
  height: 12rem;
  background: rgba(0, 0, 0, 0.65)
    url("../../../public/lissete-laverde-7OFTxbGWqwk-unsplash.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.solution {
  background-image: url("../../../public/lycs-architecture-kUdbEEMcRwE-unsplash.jpg");
}

.effort {
  background-image: url("../../../public/francesca-tosolini-XcVm8mn7NUM-unsplash.jpg");
}

.time {
  background-image: url("../../../public/patrick-perkins-3wylDrjxH-E-unsplash.jpg");
}

.cardHead {
  color: whitesmoke;
  font-size: 1.6rem;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.text {
  color: whitesmoke;
  width: 95%;
  margin: auto;
  text-align: justify;
  margin-top: 0.6rem;
  font-size: small;
}

.logoContainer {
  width: 100%;
  height: 670px;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoCont {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  overflow: hidden;
  border-radius: 50%;
}

.logo {
  height: 100%;
  width: 100%;
}
