.container {
  width: 100vw;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.headContainer {
  width: 100vw;
  margin: auto;
  text-align: center;
  height: 5rem;
}

.head {
  font-size: 3rem;
  padding-top: 0.5rem;
  font-weight: bold;
}

.mainContainer {
  display: flex;
  width: 95%;
  margin: auto;
  height: 100%;
  gap: 1rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

.expertiContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cardContainer {
  width: 32%;
  height: 20rem;
}
.card {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4)
    url("../../../public/nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  display: flex;
  transition: all 0.5s ease;
  flex-direction: column;
  justify-content: flex-end;
}

.architect {
  background-image: url("../../../public/vu-anh-TiVPTYCG_3E-unsplash.jpg");
}

.construct {
  background-image: url("../../../public/stephan-bechert-yFV39g6AZ5o-unsplash.jpg");
}

.interior {
  background-image: url("../../../public/dillon-kydd-XGvwt544g8k-unsplash.jpg");
}

.modeling {
  background-image: url("../../../public/sidekix-media-L6-yKzsrJzE-unsplash.jpg");
}

.project {
  background-image: url("../../../public/rendy-novantino-btfixf2BbS0-unsplash.jpg");
}

.cardHead {
  color: #e9a901;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.cardText {
  color: whitesmoke;
  padding-top: 0.5rem;
  text-align: justify;
  font-size: smaller;
  width: 90%;
  margin: auto;
  height: 11rem;
  transition: all 0.5s ease;
  font-weight: 600;
}

.btn {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
  height: 3.5rem;
  overflow: hidden;
}

.read {
  text-align: end;
  width: 95%;
  display: block;
  color: #e9a901;
}

.card:hover .btn {
  height: 16.5rem;
}
