.imag {
  width: 100vw;
  height: 100vh;
  filter: brightness(0.5);
  overflow-x: hidden;
}
.carouselHead {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-transform: capitalize;
  font-family: "Nunito Sans", sans-serif;
}
.sliderContainer {
  color: white;
  position: absolute;
  top: 26%;
  z-index: 99;
  font-weight: 700;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carouselText {
  font-size: 1.5rem;
  text-align: center;
  width: 35rem;
  margin-top: 1rem;
}

.slideBtn {
  width: 7.5rem;
  height: 2.5rem;
  color: white;
  background: transparent;
  margin-top: 1rem;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.6);
  border: 4px solid #e9a901;
  font-weight: 700;
  text-shadow: 1px 1px 6px rgb(255, 255, 255, 0.5);
  cursor: pointer;
}

@media screen and (max-width: 900px) and (min-width: 750px) {
  .sliderContainer {
    top: 40%;
  }
}
@media screen and (max-width: 750px) and (min-width: 650px) {
  .sliderContainer {
    top: 41%;
  }
  .carouselHead {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 650px) and (min-width: 500px) {
  .sliderContainer {
    top: 39%;
  }
  .carouselHead {
    font-size: 1.8rem;
    width: 18rem;
  }
  .slideBtn {
    width: 6.7rem;
    height: 1.8rem;
  }
}

@media screen and (max-width: 500px) {
  .carouselHead {
    font-size: 1.5rem;
    width: 15rem;
  }
  .slideBtn {
    width: 6.7rem;
    height: 2.5rem;
  }
  .sliderContainer {
    top: 37%;
    transform: translateY("10rem");
  }
}
