.heading {
  text-align: center;
  font-size: 3rem;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 0.2rem;
  margin-top: 0;
}

.container {
  width: 90vw;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
  overflow: hidden;
}

.aboutHead {
  font-family: "Nunito Sans", sans-serif;
  align-self: center;
  width: 90vw;
}

.para {
  width: 38rem;
  font-size: 1.1rem;
  text-align: justify;
  font-weight: 300;
  margin-top: 1rem;
}

.imageContainer {
  margin-top: 1rem;
  width: 32rem;
  height: 19rem;
  background: url("../../../public/about.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.7);
}

.meeting {
  background-image: url("../../../public/meeting.jpg");
}

.link {
  text-decoration: none;
}

.btn {
  width: 9rem;
  height: 2.5rem;
  font-family: "Nunito Sans", sans-serif;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 1.05rem;
  border: 2px solid rgb(0, 0, 0, 0.7);
  border-radius: 1.5rem;
  text-shadow: 1px 1px 6px rgb(255, 255, 255, 0.5);
  cursor: pointer;
}

.arrow {
  font-size: 1.2rem;
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column-reverse;
  }
  .para {
    width: 20rem;
    text-align: justify;
    margin-left: 1rem;
  }
  .link {
    width: 90vw;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .btn {
    margin-left: 0;
    margin-top: 1rem;
  }
  .heading {
    font-size: 2.5rem;
  }
  .imageContainer {
    margin-top: 0;
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
  .container {
    flex-direction: column-reverse;
  }
  .para {
    width: 23rem;
    text-align: justify;
    margin-left: 2rem;
  }
  .btn {
    margin-left: 2rem;
  }
  .heading {
    font-size: 2.5rem;
  }
  .imageContainer {
    margin-top: 0;
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }
  .para {
    width: 25rem;
    text-align: justify;
    margin-left: 2rem;
  }
  .imageContainer {
    width: 31rem;
  }
  .btn {
    margin-left: 1.5rem;
  }
  .imageContainer {
    margin-top: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    width: 95vw;
    align-items: flex-start;
  }
  .para {
    width: 19rem;
    text-align: justify;
  }
  .heading {
    font-size: 2.5rem;
    width: 21rem;
  }
  .imageContainer {
    width: 24rem;
    height: 27rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 901px) and (max-width: 1000px) {
  .imageContainer {
    width: 24rem;
  }
  .para {
    width: 29rem;
  }
  .container {
    margin-top: 7rem;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1100px) {
  .para {
    width: 29rem;
    text-align: justify;
  }
  .imageContainer {
    width: 27rem;
  }
  .container {
    margin-top: 7rem;
    width: 95vw;
  }
}
