.container {
  width: 100vw;
  height: auto;
  display: flex;
  font-family: "Nunito Sans", sans-serif;
  margin-top: 4rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.imgContainer {
  height: 24rem;
  width: 422.396px;
}

.img {
  height: 100%;
  width: 100%;
}

.boxContainer {
  width: 67%;
  display: flex;
  flex-direction: column;
  height: 95%;
}

.msg {
  height: 6rem;
  width: 100%;
  margin: auto;
  padding-top: 1.3rem;
  font-weight: bold;
  background-color: #e9a901;
  color: rgb(31, 73, 125);
  font-weight: bolder;
}

.heading {
  width: 100%;
  height: 6rem;
  text-align: center;
  display: flex;
}

.textContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70%;
  margin: auto;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.textHead {
  width: 80%;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: rgb(79, 129, 189);
}

.para {
  width: 80%;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: justify;
}

.name {
  margin-top: 2rem;
  height: 6rem;
  background-color: dimgrey;
  color: whitesmoke;
  padding-left: 3rem;
  padding-top: 0.7rem;
}

.md {
  padding-right: 3rem;
}

.videoContainer {
  height: 33rem;
}

.mobImgContainer {
  display: none;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
  }
  .imgContainer {
    display: none;
  }
  .mobImgContainer {
    display: block;
    width: 100vw;
  }
  .name {
    text-align: center;
    padding: 0;
    padding-top: 0.5rem;
  }
  .textHead {
    margin-top: 2rem;
  }
  .boxContainer {
    width: 100%;
  }
  .textContainer {
    height: auto;
    padding-bottom: 2rem;
  }
  .container {
    height: auto;
  }
  .msg {
    padding-top: 2rem;
  }
}

/* @media screen and (min-width: 601px) and (max-width: 799px) {
  .container {
    height: auto;
  }
  .boxContainer {
    width: 100%;
  }
  .textHead {
    font-size: 1.4rem;
  }
  .para {
    font-size: 1.4rem;
  }
  .imgContainer {
    display: none;
  }
  .name {
    font-size: large;
    height: 8rem;
  }
  .textContainer {
    height: 100%;
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
  .md {
    padding-right: 0;
  }
}

@media screen and (min-width: 800px) and (max-width: 899px) {
  .textHead {
    font-size: 1.5rem;
  }
  .para {
    font-size: 1.5rem;
  }
  .imgContainer {
    height: 50%;
    width: 40%;
  }
  .name {
    font-size: 1.5rem;
    height: 8rem;
  }
  .md {
    font-size: large;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 0;
  }
} */

@media screen and (max-width: 1100px) and (min-width: 900px) {
  .imgContainer {
    height: 30rem;
    width: 40%;
  }
  .name {
    font-size: 1.5rem;
    height: 8rem;
  }
  .textHead {
    font-size: 1.7rem;
  }
  .para {
    font-size: 1.7rem;
  }
  .textContainer {
    height: 1366px;
  }
  .container {
    height: 1366px;
  }
  .md {
    padding-left: 3rem;
    padding-top: 1rem;
    font-size: larger;
    padding-right: 0;
  }
}
