.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7) url("../../../public/verne-ho-0LAJfSNa-xQ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  overflow: hidden;
}

.serviceContainer {
  background-image: url("../../../public/copernico-p_kICQCOM4s-unsplash.jpg");
}

.headingContainer {
  width: 100vw;
  text-align: center;
  /* background-color: rgb(233, 169, 1); */
  height: 6rem;
  display: flex;
  align-items: flex-end;
}

.serviceHeadingContainer {
  background-color: #1f1f29;
}

.heading {
  background-color: #1f1f29;
  color: white;
  height: 5rem;
  padding-top: 1.2rem;
  width: 100vw;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}

.serviceHeading {
  background-color: rgb(233, 169, 1);
  color: black;
  font-weight: bolder;
}

.boxContainer {
  width: 100%;
  height: 83%;
  background-color: rgba(0, 0, 0, 0.5);
}

.textContainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.box {
  background-color: rgb(233, 169, 1);
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding-top: 0.7rem;
  font-size: 1.7rem;
  border: 6px solid #1f1f29;
  color: whitesmoke;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}

.box2 {
  border-color: rgb(233, 169, 1);
  background-color: #1f1f29;
}

.box3 {
  background-color: #cdcdd1;
  color: #1f1f29;
}

.cardHead {
  color: rgb(233, 169, 1);
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

.cardText {
  color: whitesmoke;
  color: whitesmoke;
  font-size: x-small;
  width: 23rem;
  text-align: justify;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width: 600px) {
  .textContainer {
    padding-top: 2rem;
    gap: 2rem;
  }
  .cardText {
    width: 16rem;
  }
  .container {
    height: auto;
  }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  .boxContainer {
    height: 93%;
  }
  .textContainer {
    padding-top: 2rem;
    gap: 1.5rem;
  }
  .container {
    height: auto;
  }
}
