.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7)
    url("../../../public/nastuh-abootalebi-ZtC4_rPCRXA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4rem;
  display: flex;
}

.boxContainer {
  width: 80%;
  height: 90%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 2rem;
}

.heading {
  color: #e9a901;
  margin-top: 2rem;
}

.textContainer {
  width: 83%;
  height: 80%;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.name {
  color: whitesmoke;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 1rem;
  width: 11rem;
  text-align: center;
}

.intro {
  color: whitesmoke;
  margin-top: 0.2rem;
  font-size: 1.1rem;
  width: 12rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    height: auto;
  }
  .boxContainer {
    width: 100%;
  }
  .textContainer {
    width: 90%;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) and (min-width: 601px) {
  .textContainer {
    gap: 7rem;
    justify-content: center;
  }
  .container {
    height: auto;
  }
}
