.container {
  height: auto;
  width: 100vw;
  margin-top: 4rem;
}

.box {
  display: flex;
  width: 90%;
  margin: auto;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.head {
  font-size: 3rem;
  font-weight: bold;
}

.boxContainer {
  margin-top: 2rem;
  height: 20rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.card {
  width: 20rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.7)
    url("../../../public/copernico-p_kICQCOM4s-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border-radius: 0.5rem;
}

.card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.3);
}

.cardText {
  color: whitesmoke;
  font-size: 3.5rem;
}
