.container {
  margin-top: 4rem;
  width: 100vw;
  height: auto;
  background: rgba(0, 0, 0, 0.7)
    url("../../../public/nastuh-abootalebi-ZtC4_rPCRXA.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
  overflow: hidden;
}

.boxHeading {
  color: whitesmoke;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-family: "Nunito Sans", sans-serif;
}

.boxContainer {
  width: 65%;
  height: 23rem;
  display: flex;
  flex-wrap: wrap;
}

.value1 {
  width: 50%;
  background-color: rgba(233, 169, 1, 0.9);
  font-family: "Nunito Sans", sans-serif;
}

.value2 {
  background-color: rgba(225, 225, 229, 0.9);
  font-family: "Nunito Sans", sans-serif;
}

.heading {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  padding-left: 2rem;
  padding-top: 1rem;
}

.para {
  margin-top: 0.5rem;
  padding-left: 2rem;
  text-align: justify;
  padding-right: 2rem;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width: 600px) {
  .container {
    height: auto;
  }
  .boxHeading {
    margin-top: 2rem;
  }
  .boxContainer {
    width: 100%;
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }
  .value1 {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  .boxContainer {
    width: 95%;
    height: auto;
  }
  .container {
    height: auto;
  }
  .boxHeading {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
