/* .container {
  width: 90vw;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: 4rem;
  gap: 3rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.img {
  height: 60rem;
  width: 40%;
}

.visionContainer {
  height: 80%;
  width: 70%;
}

.heading {
  width: 100%;
  text-align: center;
  background: #1f1f29;
  height: 6rem;
  padding-top: 1.2rem;
  color: #e9a901;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
}

.textContainer {
  margin-top: 3rem;
}

.textHead {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-family: "Nunito Sans", sans-serif;
}

.para {
  font-family: "Nunito Sans", sans-serif;
  text-align: justify;
}

.mission {
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }
  .img {
    display: none;
  }
  .visionContainer {
    width: 100%;
    background-color: #1f1f29;
    color: whitesmoke;
    height: 100%;
  }
  .heading {
    padding-top: 2rem;
    background-color: #e9a901;
    color: #1f1f29;
  }
  .textContainer {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    width: 98vw;
    gap: 1rem;
  }
  .img {
    width: 50%;
  }
} */

.container {
  height: auto;
  width: 100vw;
  margin-top: 4rem;
}

.head {
  width: 100%;
  text-align: center;
  background-color: rgb(233, 169, 1);
  height: 5rem;
}

.heading {
  font-size: 2.3rem;
  color: rgb(31, 73, 125);
  font-weight: bold;
  padding-top: 0.6rem;
}

.mainContainer {
  width: 90%;
  margin: auto;
  height: 29rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.imgContainer {
  width: 45%;
  height: 25rem;
}

.textContainer {
  width: 53%;
  height: 25rem;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.text {
  width: 95%;
  margin: auto;
  margin-top: 1.5rem;
  text-align: justify;
}

.mobImgContainer {
  display: none;
}
.mobhead {
  display: none;
}

@media screen and (max-width: 600px) {
  .pcHead {
    display: none;
  }
  .mobhead {
    display: block;
  }
  .mainContainer {
    flex-direction: column-reverse;
    height: 59rem;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .head {
    width: 100%;
  }
  .heading {
    font-size: 2.5rem;
  }
  .imgContainer {
    width: 100%;
    height: 16rem;
  }
  .text {
    width: 90vw;
  }
}
