.container {
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4rem;
  overflow-x: hidden;
  padding-bottom: 2rem;
}

.boxContainer {
  width: 95%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 2rem;
}

.heading {
  color: whitesmoke;
  margin-top: 2rem;
  font-weight: bolder;
  text-align: center;
  width: 100vw;
  height: 5rem;
  background-color: #e9a901;
  color: black;
  padding-top: 0.7rem;
}

.textContainer {
  width: 80%;
  margin: auto;
  height: auto;
  margin-top: 2rem;
}

.card {
  height: 12rem;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.img {
  width: 30%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.txtContainer {
  display: flex;
  flex-direction: column;
  width: 69%;
}
.head {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.text {
  width: 90%;
  text-align: justify;
  margin-top: 0.5rem;
}

.cardImg {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.head2 {
  margin-top: 1.5rem;
}
