@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

body {
  overflow-x: hidden;
}

.home {
  background-image: url("../public/nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg");
}

.about {
  background-image: url("../public/aboutbg.jpg");
}

.contact {
  background-image: url("../public/contactbg.jpg");
}

.service {
  background-image: url("../public/servicesbg.jpg");
}

.project {
  background-image: url("../public/projectbg.jpg");
}

.mySwiper {
  overflow-y: hidden;
  transition: filter 0.3s ease;
}

.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  border: none;
  width: 100vw;
  position: absolute;
  top: 2.4rem;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

.nav-link {
  color: whitesmoke;
  cursor: pointer !important;
}

.drawer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.offcanvas-header {
  border-bottom: 2px solid;
  padding-bottom: 2rem;
}

.btn-close {
  position: relative;
  top: 0.5rem;
}

.card {
  perspective: 1000px;
  width: 19rem;
  height: 19rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  background-color: #f0f0f0;
  transform: rotateY(180deg);
}

.swiper-button-prev,
.swiper-button-next {
  color: #e9a901 !important;
}

@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }
  .drawer {
    display: block;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .btn {
    position: fixed;
    right: 0.7rem;
    top: 1rem;
  }
}
